html body {
    position: fixed;
    display: inline-block;
}

body {
    background: light gray;
    color:#007EF2;
    width: 100%;
    height: 100%;
    margin: auto;
}

header {
    text-align: center;
    font-size: 20px;
    font-family: serif;
}

.score {
    font-size: 20px;
    font-family: sans-serif;
}

#game {
    margin: auto;
    width: 660px;
    height: 660px;
    background: black;
}

.cell {
    width:33px;
    height: 33px;
    float:left;
    text-align:center;
    background: black;
}

.pacman {
    background: #F9F871;
}

.enemy {
    background:#FF5B68;
}

.food {
    /* color: green */
}

.boundary {
    background: #B41BA7;
}

.safezone {
    background: lightgray;
}

@media (max-width: 900px) {
    #game {
        width: 500px;
    } 
    .cell {
        width: 25px;
        height: 25px;
    }
}